@import url(https://fonts.googleapis.com/css2?family=Raleway&family=Ubuntu&display=swap);

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    color: #3a3a3a;
}

h1, h2, h3 {
    font-family: 'Ubuntu', sans-serif;
    color: #3a3a3a;
}

/* Header - Logo and Nav */

header {
    height: 75px;
}

header div {
    height: 75px;
    position: fixed;
    background-color: #E8E8E8;
    width: 100%;
    z-index: 1;
}

#logo {
    float: left;
    margin-left: 20px;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

.live-page {
    background-color: #3a3a3a;
    color: #E8E8E8;
    padding: 5px;
    border-radius: 5px;
}

/* Hero Image */

#hero-outer {
    height: 800px;
}

#hero-image {
    height: 800px;
    width: 100%;
}

.hero-text {
    background-color: rgba(220,220,220,0.7);
    padding: 5px;
    margin: 0 auto;
    text-align: center;

    font-size: 300%;

    position: relative;
    bottom: 500px;
}

/* Information Tiles */

.information {
    height: 450px;
}

.text-left {
    width: 45%;
    float: left;
    margin-left: 50px;
    margin-top: 150px;
}

.img-right, .img-right-buddhism {
    height: 100%;
    width: 50%;
    float: right;
    overflow: hidden;
}

.text-right {
    width: 45%;
    text-align: right;
    float: right;
    margin-right: 50px;
    margin-top: 150px;
}

.img-left, .img-left-buddhism {
    height: 100%;
    width: 50%;
    float: left;
    overflow: hidden;
}

/* What we do? Section */

#what-we-do {
    background: url(../images/monks-meditating.jpg) no-repeat center center;
    height: 300px;
    width: 100%;
    background-attachment: fixed;
}

#what-we-do h2 {
    text-align: center;
    width: 25%;
    margin: 0 auto;
    position: relative;
    top:10px;

    background-color: rgba(220,220,220,0.9);
}

.left-about {
    background-color: rgba(220,220,220,0.9);
    padding: 5px;
    width: 25%;
    float: left;
    text-align: center;

    position: relative;
    left: 50px;
    top: 75px;
}

.right-about {
    background-color: rgba(220,220,220,0.9);
    padding: 5px;
    width: 25%;
    float: right;
    text-align: center;

    position: relative;
    right: 50px;
}

.center-about {
    background-color: rgba(220,220,220,0.9);
    padding: 5px;
    width: 25%;
    margin: 0 auto;
    text-align: center;

    position: relative;
    top: 75px;
}

/* Footer */

footer {
    height: 75px;
    background-color: #E8E8E8;
}

footer > p {
    margin-left: 20px;
    margin-top: 30px;
    float: left;
}

.social-networks {
    text-align: right;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 10px;
    color: #3a3a3a;
    float: right;
}

/* Buddhism and Meditation Page */

.information-buddhism, .information-buddhism-small {
    height: 450px;
}

.text-left-buddhism, .text-left-buddhism-small {
    width: 45%;
    float: left;
    margin-left: 50px;
    margin-top: 25px;
}

.text-right-buddhism, .text-right-buddhism-small {
    width: 45%;
    text-align: right;
    float: right;
    margin-right: 50px;
    margin-top: 25px;
}

/* Form */

.form-section {
    height: 850px;
}

.signup-form {
    margin-top: 200px;
    color: #E8E8E8;
    background-color: #3a3a3a;
    max-width: 400px;
    position: absolute;
    left: 5%;
    padding: 30px;
}

.signup-form h2 {
    color:#E8E8E8;
    margin-bottom:20px;
}

.text-input {
    background: transparent;
    color: #E8E8E8;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}

.img-right-form {
    height: 100%;
    width: 55%;
    float: right;
    overflow: hidden;
}

#send-button {
    background-color: #E8E8E8;
    color: #3a3a3a;
    padding: 5px;
    border-radius: 5px;
}

/*  media queries */

/* For larger to medium screen size from 1250px wide and down*/

@media screen and (max-width: 1250px) {

    .information-buddhism, .information-buddhism-small {
        height: 720px;
    }

    .text-left-buddhism, .text-right-buddhism, .text-left-buddhism-small, .text-right-buddhism-small {
        height: 300px;
        width: 90%;
        margin: 15px 5% 5px 5%;
        text-align: center;
    }

    .img-right-buddhism, .img-left-buddhism {
        height: 400px;
        width: 100%;
        float: left;
        overflow: hidden;
    }

}

/* For medium to small screen size from 1000px wide and down*/

@media screen and (max-width: 1000px) {

    header {
        height: 100px;
    }

    header div {
        height: 100px;
    }

    #logo {
        float: none;
        text-align: center;
        margin: 0;
    }

    #menu, #logo {
        line-height: 50px;
    }

    #menu li {
        margin-right: 10px;
    }

    #hero-outer {
        height: 300px;
    }

    #hero-image {
        height: 300px;
    }

    .hero-text {
        font-size: 100%;
        bottom: 200px;
    }

    .information {
        height: 445px;
    }
    
    .text-left, .text-right {
        height: 125px;
        width: 90%;
        margin: 15px 5% 5px 5%;
        text-align: center;
    }
    
    .img-right, .img-left, .img-right-form {
        height: 300px;
        width: 100%;
        float: left;
        overflow: hidden;
    }

    #what-we-do {
        height: 525px;
    }

    #what-we-do h2 {
        width: 50%;
        position: relative;
        top: 20px;
    }

    .left-about, .center-about, .right-about {
        width: 80%;
        margin: 5px auto;
        float: none;
    
        position: relative;
        left: 5px;
        top: 25px;
    }

    footer {
        height: 100px;
    }

    footer > p {
        margin-left: 0;
        margin-top: 0;
        padding-top: 15px;
        float: none;
        text-align: center;
    }

    .social-networks {
        text-align: center;
    }

    .social-networks i {
        float: none;
        margin: 0 auto;
    }

    .information-buddhism, .information-buddhism-small {
        height: 840px;
    }

    .text-left-buddhism, .text-right-buddhism, .text-left-buddhism-small, .text-right-buddhism-small {
        height: 420px;
    }

    .form-section {
        height: 600px;
    }

    .img-right-form {
        height: 600px;
        width: 100%;
        float: left;
        overflow: hidden;
    }

}

/* For small screen size from 700px wide and down*/

@media screen and (max-width: 700px) {

    .information-buddhism {
        height: 1020px;
    }

    .text-left-buddhism, .text-right-buddhism {
        height: 700px;
    }

    .information-buddhism-small {
        height: 740px;
    }

    .img-right-buddhism, .img-left-buddhism {
        height: 300px;
    }

}

/* For smallest screen size from 300px wide and down*/

@media screen and (max-width: 300px) {

    #menu, #logo {
        line-height: 30px;
    }
    
    #menu li {
        font-size: x-small;
    }

    .information-buddhism {
        height: 1195px;
    }

    .text-left-buddhism, .text-right-buddhism {
        height: 875px;
    }

    .information-buddhism-small {
        height: 790px;
    }

    .text-left-buddhism-small, .text-right-buddhism-small {
        height: 470px;
    }

    .img-right-buddhism, .img-left-buddhism {
        height: 300px;
    }

}