* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Header - Logo and Nav */

header {
    height: 75px;
}

#logo {
    float: left;
    margin-left: 20px;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}