* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    color: #3a3a3a;
}

h1, h2, h3 {
    font-family: 'Ubuntu', sans-serif;
    color: #3a3a3a;
}

/* Header - Logo and Nav */

header {
    height: 75px;
    position: fixed;
    background-color: #E8E8E8;
    width: 100%;
    z-index: 1;
}

#logo {
    float: left;
    margin-left: 20px;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

.live-page {
    background-color: #3a3a3a;
    color: #E8E8E8;
    padding: 5px;
    border-radius: 5px;
}

/* Hero Image */

#hero-outer {
    height: 800px;
}

#hero-image {
    height: 100%;
    width: 100%;

}

.hero-text {
    background-color: rgba(220,220,220,0.7);
    padding: 5px;
    margin: 0 auto;
    text-align: center;

    font-size: 300%;

    position: relative;
    bottom: 500px;
}

/* Information Tiles */

.information {
    height: 450px;
}

.text-left {
    width: 45%;
    float: left;
    margin-left: 50px;
    margin-top: 150px;
}

.img-right {
    height: 100%;
    width: 50%;
    float: right;
    overflow: hidden;
}

.text-right {
    width: 45%;
    text-align: right;
    float: right;
    margin-right: 50px;
    margin-top: 150px;
}

.img-left {
    height: 100%;
    width: 50%;
    float: left;
    overflow: hidden;
}

/* What we do? Section */

#what-we-do {
    background: url(../images/monks-meditating.jpg) no-repeat center center;
    height: 300px;
    width: 100%;
    background-attachment: fixed;
}

#what-we-do h2 {
    text-align: center;
    width: 25%;
    margin: 0 auto;
    position: relative;
    top:10px;

    background-color: rgba(220,220,220,0.9);
}

.left-about {
    background-color: rgba(220,220,220,0.9);
    padding: 5px;
    width: 25%;
    float: left;
    text-align: center;

    position: relative;
    left: 50px;
    top: 75px;
}

.right-about {
    background-color: rgba(220,220,220,0.9);
    padding: 5px;
    width: 25%;
    float: right;
    text-align: center;

    position: relative;
    right: 50px;
}

.center-about {
    background-color: rgba(220,220,220,0.9);
    padding: 5px;
    width: 25%;
    margin: 0 auto;
    text-align: center;

    position: relative;
    top: 75px;
}

/* Footer */

footer {
    height: 75px;
    background-color: #E8E8E8;
}

footer > p {
    margin-left: 20px;
    margin-top: 30px;
    float: left;
}

.social-networks {
    text-align: right;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 10px;
    color: #3a3a3a;
    float: right;
}